* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #ede0d4;


}

header {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #B7B7A4;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

#list li {
    position: relative;
    list-style-type: none;
    letter-spacing: 3px;
    margin: 10px;
    display: inline-block;
    font-size: 18px;
}

/*list過度效果(放大、慢慢浮現，另外有跳轉效果)*/
#list a {
    position: relative;
    text-decoration: none;
    color: #E3D5CA;
    transition: color 0.3s;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}


#list li a {
    font-size: 18px;
    transition: font-size 0.3s;
}

#list li a:hover {
    font-size: 20px;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*list1變色效果*/
#list a:hover {
    color: #b0a084;
}

/*頂部的三張照片1.5秒浮現*/
.pic {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-around;
    animation: fadeIn 1.5s ease-in-out forwards;

}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 550px;
    background-color: #B7B7A4;
    padding: 50px;
    margin-right: 10px;
    margin-left: 25px;
    border-radius: 2%;
    margin-top: 90px;
    border-radius: 1%;
}

.pic2 {
    width: 440px;
    height: 530px;
    border-radius: 3%;
}

.pic3 {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: 400px;
    vertical-align: middle;
    margin-left: 30px;

    transition: margin-left 1s ease-in-out;
}

/*鼠標移至照片時會有右滑動畫*/
.pic3:hover {
    margin-left: 100px;
}

.pic3:hover img {
    transform: scale(1.5);
}

#AboutMe {
    position: relative;
    background-color: #b0a084;
    margin-top: 200px;
    margin-bottom: 430px;
    border-radius: 3.5%;
    height: 640px;
}

/*文字慢慢浮現*/
#word {
    position: relative;
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
    color: #7b6b43;
    font-family: 'Italianno', cursive;
    animation: fadeIn 4.0s ease-in-out forwards;
}

.title {
    position: relative;
    color: #ede0d4;
    text-align: center;
    z-index: 990;
    font-size: 35px;
    letter-spacing: 1.5px;
}

/*鼠標移到標題有放大效果*/
.title:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.motto {
    position: relative;
    color: #f2f4f3;
    margin-left: 545px;
    margin-top: -400px;
    font-size: 45px;
    text-align: center;

}

.chinese {
    font-family: 'Noto Sans TC', sans-serif;
}

.motto1 {
    font-family: 'Italianno', cursive;
    font-size: 48px;
}

.motto2 {
    font-size: 33px;
    font-family: 'Noto Sans TC', sans-serif;
}

#tag1 {
    position: relative;
    background-color: #7b6b43;
    white-space: nowrap;
    border-radius: 15%;
    color: #ede0d4;
    box-shadow: none;
    border: unset;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
}

.contact {
    position: relative;
    display: flex;
    padding: 10px 30px 50px 350px;
}

.contact a {
    margin-right: 20px;
}

/* fb、ig、line、gmail放大效果 */
.contact img:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.contact img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 15%
}

#experience {
    position: relative;
    background-color: #9d8977;
    margin-top: -300px;
    margin-bottom: 500px;
    border-radius: 3.5%;
    height: 1800px;
}

.photo {
    position: relative;
    border-radius: 10%;
}

.photo img {
    position: relative;
    width: 460px;
    height: 335px;
    border-radius: 15%;
    margin-left: 100px;
    margin-top: 50px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Experience中照片左右晃動動畫 */
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}

.photo:hover img {
    transform: scale(1.1) rotate(5deg);
    animation: shake 0.6s ease-in-out infinite;
}

.word2 {
    position: relative;
    width: 60%;
    font-size: 25px;
    margin-left: 200px;
    margin-top: 60px;
}

.content {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

/*鼠標移至標題會有放大、變色效果(點選有連結)*/
.video a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.8s, transform 0.3s;
    font-family: 'Noto Sans TC', sans-serif;

}

.video a:hover {
    color: #5e503f;
    font-size: 1.1em;
}

.teach {
    color: #ede0d4;
    font-family: 'Noto Sans TC', sans-serif;

}

#skills {
    position: relative;
    background-color: #b0a084;
    margin-top: -400px;
    border-radius: 3.5%;
    height: 880px;
}

#language {
    position: relative;
    text-align: center;
    font-size: 27px;
    color: #5e503f;
    -webkit-text-stroke: 1px #dcc9b6;
    transition: transform 0.3s ease-in-out;
}

#language:hover {
    transform: scale(1.1) rotate(5deg);
    animation: shake 0.6s ease-in-out infinite;
}

.progress1 {
    position: relative;
    border: 1px solid #7b6b43;
    background: #dcc9b6;
    border-radius: 5px;
    width: 600px;
    height: 20px;
    margin: 50px auto;
}

/*進度條動畫*/
.program1 {
    position: relative;
    background: repeating-linear-gradient(45deg, #5e503f 0px, #5e503f 15px, #a9927d 15px, #a9927d 30px);
    background-size: 42px 20px;
    height: 20px;
    width: 380px;
    animation: progress1-striped 1s linear 0s infinite normal both;
}

.program2 {
    position: relative;
    height: 20px;
    width: 300px;
    background: repeating-linear-gradient(45deg, #5e503f 0px, #5e503f 15px, #a9927d 15px, #a9927d 30px);
    background-size: 42px 20px;
    animation: progress1-striped 1s linear 0s infinite normal both;
}

.program3 {
    position: relative;
    height: 20px;
    width: 400px;
    background: repeating-linear-gradient(45deg, #5e503f 0px, #5e503f 15px, #a9927d 15px, #a9927d 30px);
    background-size: 42px 20px;
    animation: progress1-striped 1s linear 0s infinite normal both;
}

.program4 {
    position: relative;
    height: 20px;
    width: 250px;
    background: repeating-linear-gradient(45deg, #5e503f 0px, #5e503f 15px, #a9927d 15px, #a9927d 30px);
    background-size: 42px 20px;
    animation: progress1-striped 1s linear 0s infinite normal both;
}

.program5 {
    position: relative;
    height: 20px;
    width: 250px;
    background: repeating-linear-gradient(45deg, #5e503f 0px, #5e503f 15px, #a9927d 15px, #a9927d 30px);
    background-size: 42px 20px;
    animation: progress1-striped 1s linear 0s infinite normal both;
}

@keyframes progress1-striped {
    from {
        background-position: 42px 0px;
    }

    to {
        background-position: 0px 0px;
    }
}

#education {
    position: relative;
    background-color: #9d8977;
    margin-top: 100px;
    border-radius: 3.5%;
    height: 750px;
}

.grade1 {
    position: relative;
    color: #dcc9b6;
    padding: 20px;
    font-size: 32px;

}

.schoolname {
    position: relative;
    color: #dcc9b6;
    font-size: 32px;
    padding: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
}

.size {
    position: relative;
    padding: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}


/*鼠標移至校徽時會有旋轉動畫(點進可連結至各校主頁)*/
.size:hover {
    transform: rotate(45deg);
}


.grade {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    text-align: center;
}


.foot {
    position: relative;
    background-color: #B7B7A4;
    height: 120px;
    bottom: -10px;
    left: -10px;
    width: 101%;
    margin-top: 100px;
    text-align: center;
    color: #E3D5CA;
    font-size: 18px;
}

.text {
    margin-top: -30px;
    padding-top: 25px;
}