* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #ede0d4;

}

header {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #B7B7A4;
    width: 100%;
    text-align: center;
}

#list li {
    position: relative;
    list-style-type: none;
    letter-spacing: 3px;
    margin: 10px;
    display: inline-block;
    font-size: 16px;
}

#list a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#list a:hover {
    color: #E3D5CA;
}

.pic {
    display: flex;
    width: 1365px;
    text-align: center;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 550px;
    background-color: #B7B7A4;
    padding: 50px;
    margin-right: 10px;
    margin-left: 25px;
    border-radius: 2%;
    margin-top: 90px;
    border-radius: 1%;
}

.pic2 {
    width: 440px;
    height: 530px;
    border-radius: 3%;
}